[Desktop Entry]
Name=Chess
Name[eu]=Xake
Name[es]=Ajedrez
Name[fr]=Échecs
Name[ca]=Escacs
Name[it]=Scacchi
Exec=qmlscene %U Main.qml
Icon=xake.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=white
X-Ubuntu-Supported-Orientations=portrait

