[Desktop Entry]
Name=Chess
Exec=qmlscene %U Main.qml
Icon=xake.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=white
X-Ubuntu-Supported-Orientations=portrait

